<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/hospital</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value> admin</param-value>
    </context-param>
    <filter>
        <filter-name>servlet_Filter</filter-name>
        <filter-class>_servlet.servlet_Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>servlet_Filter</filter-name>
        <url-pattern>/session</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Servlet_session</servlet-name>
        <servlet-class>_servlet.Servlet_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient_servlet</servlet-name>
        <servlet-class>_servlet.patient_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctor_servlet</servlet-name>
        <servlet-class>_servlet.doctor_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p_case</servlet-name>
        <servlet-class>_servlet.case_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bill_servlet</servlet-name>
        <servlet-class>_servlet.bill_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>d_p_servlet</servlet-name>
        <servlet-class>_servlet.d_p_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>_servlet.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_session</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient_servlet</servlet-name>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/list</url-pattern>
        <url-pattern>/all</url-pattern>
        <url-pattern>/edit</url-pattern>
        <url-pattern>/insert</url-pattern>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctor_servlet</servlet-name>
        <url-pattern>/d_insert</url-pattern>
        <url-pattern>/d_update</url-pattern>
        <url-pattern>/d_all</url-pattern>
        <url-pattern>/d_edit</url-pattern>
        <url-pattern>/d_delete</url-pattern>
        <url-pattern>/d_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p_case</servlet-name>
        <url-pattern>/c_update</url-pattern>
        <url-pattern>/c_insert</url-pattern>
        <url-pattern>/c_all</url-pattern>
        <url-pattern>/c_edit</url-pattern>
        <url-pattern>/c_list</url-pattern>
        <url-pattern>/c_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bill_servlet</servlet-name>
        <url-pattern>/b_all</url-pattern>
        <url-pattern>/b_list</url-pattern>
        <url-pattern>/b_delete</url-pattern>
        <url-pattern>/b_edit</url-pattern>
        <url-pattern>/b_update</url-pattern>
        <url-pattern>/b_insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>d_p_servlet</servlet-name>
        <url-pattern>/dp_list</url-pattern>
        <url-pattern>/dp_edit</url-pattern>
        <url-pattern>/dp_f_p</url-pattern>
        <url-pattern>/dp_insert</url-pattern>
        <url-pattern>/dp_update</url-pattern>
        <url-pattern>/dp_logout</url-pattern>
        <url-pattern>/dp_all</url-pattern>
        <url-pattern>/dp_delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
